@value makerBlack from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerLightGrey from '../../common/colors.css';
@value makerLightPink from '../../common/colors.css';
@value makerGrey from '../../common/colors.css';
@value makerGreen from '../../common/colors.css';
@value makerPink from '../../common/colors.css';
@value makerShadow from '../../common/colors.css';
@value makerColorful from '../../common/colors.css';
@value makerWheat from '../../common/colors.css';
@value makerblue from '../../common/colors.css';

.optionBlack {
    color: white;
    background: makerBlack;
}
.optionWhite {
    background: makerWhite;
}
.optionLightPink {
    background: makerLightPink;
}
.optionLightGrey {
    background: makerLightGrey;
}
.optionGrey {
    background: makerGrey;
}
.optionGreen {
    background: makerGreen;
}
.optionPink {
    background: makerPink;
}
.optionShadow {
    background: makerShadow;
}
.optionColorful {
    background: makerColorful;
}
.optionWheat {
    background: makerWheat;
}
.optionBlue {
    background: makerblue;
}

.cardTemplate {
    margin-left: 50px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.cardTemplate input {
    border: none;
    background: makerblue;
    width: 50%;
    height: 50px;
    font-size: 40px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.bgColor select {
    width: 50%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 5px;
}
.cardTemplate span {
    width: 150px;

    display: inline-block;
}

.saveBtn {
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
    background: makerGrey;
    border-radius: 5px;
    color: makerWhite;
}
.saveBtn:hover {
    background: makerblue;

    font-weight: bold;
}
