@value makerblue from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';

.titleBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: makerblue;
}
.titleBox img {
    width: 70px;
    height: 50px;
}
.contents {
    margin-top: 20px;
}
.businessTitle {
    margin: 0;
    color: makerWhite;
    margin-bottom: 5px;
}
.templateAll {
    display: flex;
}
.templateAll h1 {
    color: makerBlack;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    width: inherit;
    text-align: center;
}
.createTemplate,
.preview {
    width: 50%;
    margin-top: 10px;
}
